# Токен телеграмм бота. 
# Получение через @BotFather
TG_TOKEN=

# ID канала в телеграмм.
# Получение через @username_to_id_bot или аналоги
TG_CHANNEL_ID=

# Токен дискорд бота. 
# Получение через https://discord.com/developers/applications
DC_TOKEN=

# ID канала в дискорде.
DC_CHANNEL_ID=